/* Style Sheet */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto);

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #222;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

#container {
  max-width: 800px;
  min-width: 432px;
  margin: 0 auto;
  padding: 2em;
}

header {
  padding-bottom: 0.5em;
  position: relative;
  min-height: 114px;
  /* Why 114px? Because we want 1em (14px) of spacing between the
     image and our bottom border and the image itself is 100px tall
     with 4px of padding (2px top, 2px bottom). */
}

header > h1 {
  font-size: 300%;
  margin-bottom: 0;
}

header span {
  display: block;
}

header img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0; right: 0;
  border: 1px solid #aaa;
  padding: 2px;
}

article {
  margin-bottom: 1em;
  position: relative;
}

article h3,
article p {
  margin: 0;
}

article p > time,
article p > span.dates {
  display: inline-block;
  font-style: italic;
  position: absolute;
  top: 0;
  right: 0;
}

header,
nav,
#education,
#experience {
  border-bottom: 1px solid #aaa;
}


@media (max-width: 430px) {

  #container {
    min-width: 0;
    max-width: 430px;
    padding-top: 0;
  }

  header img {
    display: none;
  }

  #experience {
    border-bottom: 0;
  }

  footer {
    display: none;
  }
}
